{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MailSender{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mailsendler/css/bootstrap.min.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'mailsendler:main_page' %}">MailSender</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailsendler:mailing_list' %}">Рассылки</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailsendler:getter_list' %}">Клиенты</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailsendler:mailing_attempts' %}">Попытки</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if user.is_authenticated %}

                <li class="nav-item d-flex align-items-center">
                    <form action="{% url 'users:logout' %}" method="post" class="m-0 p-0">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-link nav-link p-0"
                                style="cursor: pointer; text-decoration: none;">
                            Выйти
                        </button>
                    </form>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                </li>

                {% endif %}
            </ul>

        </div>

    </div>
</nav>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'mailsendler/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
