{% extends "mailsendler/base.html" %}
{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-4 text-center">Введите новый пароль</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
